*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: black;
}
.img1{
    width: 500px;
    height: 500px;
}
.img2{
    width: 500px;
    height: 450px;
}
.img3{
    width: 500px;
    height: 500px;
}
.img4{
    width: 500px;
    height: 500px;
}
h1{
    color:white;
    font-size: 50px;
    font-weight: 900;
}
p{
    color: rgb(45, 246, 45);
    font-size: 50px;
    text-decoration: dotted underline ;
}